@model IEnumerable<StudentRecords.Models.Units>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitCoordinator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitOutline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCoordinator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitOutline)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnitCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UnitCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UnitCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
